nav {
  height: 31px;
  display: flex;
  justify-content: center;
}
a {
  font-size: 21px;
  display: block;
  text-decoration: none;
  margin-left: 3px;
  margin-right: 3px;
  height: 100%;
  width: 18%;
  background-color: #81bed6;
  border-radius: 7px;
  color: white;
}
a:hover {
  cursor: pointer;
  background-color: #5b97af;
}
